.admin-page {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
    width: 25%;
    background-color: #dcdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .sidebar-content {
    margin-top: 50px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar li {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: 700;
  }

  .sidebar li.active {
    font-size: 18px;
    background-color: rgb(102, 194, 254);
    position: relative;
  }

  .sidebar li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 1s ease; /* Animation duration and easing */
  }

  .sidebar li.active:hover::after {
    width: 100%; /* Full width */
  }


  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 25%;
    margin-top: 80px;
    background-color: #f8faf8;
  }
